<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Jacob Koza">

    <title>KSquared - A Khoury Koza Wedding</title>

	<!-- bower:css -->
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
	<!-- endbower -->

	<!-- inject:css -->
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/stylish-portfolio.css">
	<!-- endinject -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="<%=nav[0].Link%>" onclick=$("#menu-close").click();><%=nav[0].Text%></a>
            </li>
            <li>
                <a href="" onclick=$("#menu-close").click();></a>
            </li>
            <li>
                <a href="#contact" onclick=$("#menu-close").click();>Contact Us!</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1 style="color:white">RSVP</h1>
            <br>
            <%if (message && message.code ==1 ) {%>
                <div class="alert alert-danger">
                    Sorry there has been an error processing your request. Please double check your invitation ID and try again.</br>
                </div>
            <%} else if (message && message.code ==2) {%>
                <div class="alert alert-success">
                    You have been successfully registered for our wedding. We look forward to seeing you!
                </div>
            <%} %>

        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>YAY! You Are Coming!</h2>
                    <a href="register/regrets" class="btn btn-dark btn-lg">Actually we're not</a>
                </div>
            </div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1" style="text-align:center">
				</div>
			</div>
			<div class="row" style="text-align:center">
			</div>
            <!-- /.row -->
       </div>
        <!-- /.container -->
    </section>

	<!-- Registration -->
	<section id="register" class="register">
		<div class = "container">
			<h3>Instructions</h3>
			<p>Inside your invitation you received a unique code, this code is your record to be able to RSVP for our reception. 
			Each family has a unique code, enter the same code for each person attending. You will need to submit the form once for <strong>everyone</strong> who will be attending,
            this way your food choices can be maintained. As this was hand-built by the groom, please let him know if you have any issues! Thanks!</p>
			<br><br>
			<form id="rsvp" action="/register" method="POST">
				<div class="form-group">
					<label for="cardID">Invitation ID:</label>
					<input type="number" class="form-control" id="cardID" name="cardID">
				</div>
				<div class="form-group">
					<label for="firstName">First Name:</label>
					<input type="text" class="form-control" id="firstName" name="firstName">
				</div>
				<div class="form-group">
					<label for="lastName">Last Name:</label>
					<input type="text" class="form-control" id="lastName" name="lastName">
				</div>
				<div class="form-group">
					<label for="meal">Meal Choice:</label>
					<select class="form-control" id="meal" name="meal">
						<option>-----Select One------</option>
						<option>Chicken</option>
						<option>Salmon</option>
						<option>Veggie</option>
					</select>
				</div>	
				<div class="form-group">
					<div class="col-sm-10">
						<button type="submit" class="btn btn-default">Submit</button>	
					</div>
				</div>
			</form>
		</div>	
	</section>


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center" id="contact">
                    <h4><strong>The Future Kozas</strong>
                    </h4>
                    <p>13300 Atlantic Blvd
                        <br>Jacksonville, FL 32225</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (904) 323-1652</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:jakekoza13@gmail.com">jakekoza13@gmail.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
						<li>
							<a href="#"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
						</li>
                    </ul>
					<p>Follow us on Social Media with #KSquared</p>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; KSquared.party 2017</p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </footer>

	<!-- bower:js -->
	<script src="/lib/jquery/dist/jquery.js"></script>
	<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
	<!-- endbower -->

	<!-- inject:js -->
	<script src="/js/flot/excanvas.min.js"></script>
	<script src="/js/flot/flot-data.js"></script>
	<script src="/js/flot/jquery.flot.js"></script>
	<script src="/js/flot/jquery.flot.pie.js"></script>
	<script src="/js/flot/jquery.flot.resize.js"></script>
	<script src="/js/flot/jquery.flot.tooltip.min.js"></script>
	<script src="/js/morris/morris-data.js"></script>
	<script src="/js/morris/morris.js"></script>
	<script src="/js/morris/morris.min.js"></script>
	<script src="/js/morris/raphael.min.js"></script>
	<!-- endinject -->

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    // Disable Google Maps scrolling
    // See http://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function(event) {
        var that = $(this);
        that.on('click', onMapClickHandler);
        that.off('mouseleave', onMapMouseleaveHandler);
        that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function(event) {
            var that = $(this);
            // Disable the click handler until the user leaves the map area
            that.off('click', onMapClickHandler);
            // Enable scrolling zoom
            that.find('iframe').css("pointer-events", "auto");
            // Handle the mouse leave event
            that.on('mouseleave', onMapMouseleaveHandler);
        }
        // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);
    </script>

</body>

</html>
